body {
  font-family: Inter;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  border-right: 1px solid black;
  width: 175px;
  border-right: 1px solid #d9e1e8;
  margin-top: -77px;
}
.menu-label {
  color: #637794;
  font-size: 12px;
  font-family: inter;
  font-weight: 500;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-left: 2rem;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 12px;
}

.menu-item:hover {
  background-color: #eef0f4;
  width: 110px;
}
.template-builder.light-search {
  color: #eef0f4;
  scale: 0.9;
  margin-top: 0.2rem;
  fill: #d9e1e8;
}
.menu-header {
  font-weight: 500;
  cursor: pointer;
}
.menu-layout {
  display: flex;
  padding: 10px;
  gap: 0.3rem;
  /* margin-bottom: 5px; */
  margin-left: 0.1rem;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  font-size: 12px;
}
.menu-layout:hover {
  background-color: #e1e1e1;
}
