/* toolbar.css */
.shadowContainer {
  width: 188px;
  height: 198px;
  gap: 0px;
  opacity: 0px;
  position: relative;
  bottom: -23px;
}
.all-shadows {
  position: relative;
  right: 28px;
  top: -15px;
}
.toolbar-container {
  display: block;
   
    
   
    padding: 0px 7px 0px 7px;
    gap: 2px;
    opacity: 0px;
    margin-top: -77px;
    border-right: 1px solid #d9e1e8;
 
}
.container {
  display: flex;
  padding: 0px 7px;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  flex: 1 0 0;
  align-self: stretch;
}

.componentWrapper {
  width: 188px;
  height: 46px;
  justify-content: center;
  align-items: center;
  gap: 16px;
  display: inline-flex;
}

.columnWrapper,
.rowWrapper {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  display: inline-flex;
}

.columnTitle,
.rowTitle {
  color: #596e8d;
  font-size: 10px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
}

.columnContent,
.rowContent {
  width: 70px;
  padding: 8px;
  background: white;
  border-radius: 4px;
  border: 1px #ccd2dc solid;
  justify-content: space-between;
  align-items: center;
  display: inline-flex;
}

.columnValue,
.rowValue {
  color: #333333;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}

.icon {
  width: 12px;
  height: 16px;
  text-align: center;
  color: #605e5c;
  font-size: 12px;
  font-family: "Fabric MDL2 Assets";
  font-weight: 400;
  line-height: 12px;
  word-wrap: break-word;
}

.spacingWrapper,
.marginWrapper,
.cornerRadiusContainer,.strokeContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  width: 188px;
  height: 68px;
  gap: 0px;
  opacity: 0px;
}

.spacingHeader,
.marginHeader,
.cornerRedisHeader,
.strokeHeader {
  height: 36px;
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
  width: 79px;
  height: 36px;
  opacity: 0px;
}

.spacingTitle,
.marginTitle,.cornerRadiusTitle
.headerText {
  color: #002050;
  font-size: 12px;
  font-family: Inter;
  font-weight: 500;
  word-wrap: break-word;
  justify-content: flex-start;
    align-items: center;
    display: inline-flex;
    width: 79px;
    height: 36px;
}

.spacingContent,
.marginContent,
.cornerRadiusContent,.stokeContent {
  align-self: stretch;
  height: 32px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  display: flex;
}

.stoke
 {
  display: flex;
  align-items: center;
  gap: 18px;
  flex: 1 0 0;
}
.shadow{
  display: flex;
    position: relative;
    top: 4px;
}
.colorBox {
  width: var(--Size-20, 15px);

  height: var(--Size-20, 15px);
  border: 6px solid #f0f0f0;
  margin-left: 20px;
  background: var(--dark-gray-icon, #444);
}

.spacingItem,
.marginItem,
.cornerRadiusItem{
  display: flex;
  width: 70px;
  padding: 8px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Border-Grey, #ccd2dc);
  background: var(--white-100, #fff);
}

.stokeItem{
  position: relative;
    bottom: -21px;
    display: flex;
    width: 70px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--Border-Grey, #ccd2dc);
    background: var(--white-100, #fff);
}
.spacingValue,
.marginValue,
.cornerRadiusValue,
.stokeValue {
  color: #333333;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}

.spacingUnit,
.marginUnit,
.cornerRedisUnit,
.strokeUnit {
  color: #333333;
  font-size: 12px;
  font-family: Inter;
  font-weight: 400;
  line-height: 16px;
  word-wrap: break-word;
}
.shadowInner {
  display: flex;
  padding: 10px 10px 10px 13px;
  position: relative;
  top: 11px;
  gap: 10px;

  display: grid;
  grid-template-columns: auto auto auto;
}
.shadow-icon {
  display: flex;
  width: 30px;
  height: 30px;
  padding: 6px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #f5f5f5;
  cursor: pointer;
}
.outer-container {
  width: 29.33px;
  height: 16px;
  position: relative;
  background: #106ebe;
  border-radius: 13.33px;
  overflow: hidden;
}
.inner-circle {
  width: 8px;
  height: 8px;
  left: 18.67px;
  top: 4px;
  position: absolute;
  background: white;
  border-radius: 9999px;
}
.all-shadows {
  display: flex;
  padding: 10px 10px 10px 13px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
}
input{
  width: 70px;
  border: none;
}
.gap{
  display: flex;
}
input[type="number"]:focus {
  outline: none;
}
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0px;
  background-color: #ccc;
  transition: .4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* .color-picker{
  width: 32px;
height: 32px;
padding: 6px 0px 0px 0px;
gap: 8px;
border: 1px rgb(225, 220, 220);
opacity: 0px;

} */

.picker{
  position: relative;
    top: -287px;
    left: -116px;
}

.picker_shadow{
  position: relative;
    top: -287px;
    left: -95px;
}
.shadowContainer{
  margin-top: -15px;
}

.pickerShadow{
  display: flex;
    position: relative;
    right: -50px;
    top: -24px;
}
.color-picker{
  display: flex;
  position: relative;
  right: -85px;
  top: -24px;
}