.container {
  display: flex;
width: 1191px;
height: var(--Size-80, 80px);

padding: 0px 20px;
justify-content: space-between;
align-items: center;
}

.left-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-container {
  width: 65px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
}

.title {
  color: #002050;
  font-size: 20px;
  font-family: "Inter";
  font-weight: 500;
  word-wrap: break-word;
}

.right-section {
  height: 38px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-container {
  width: auto;
  position: relative;
}

.reset-button
 {
  display: inline-flex;
height: 38px;
padding: 8px 12px;

justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
  
}
.export-button{
  display: inline-flex;
  height: 38px;
  padding: 8px 12px; 
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.export-button {
  background: #0066ff;
}

.button-text {
  font-size: 14px;
  font-family: "Inter";
  font-weight: 500;
  word-wrap: break-word;
}

.export-button .button-text {
  color: white;
}
