/* import * "../components/sidePanel/SidePanel.css"; */
@import url(./components/assets/css/SidePanel.css);
@import url(./components/template-icon/css/style.css);
@import url(./components/assets/css/PageTitle.css);
@import url(./components/chart-icon/css/style.css);
@import url(./components/assets/css/subPanel.css);

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  color-scheme: none;
  /* text-align: center; */
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.main-content {
  /* display: flex; */
  /* flex-direction: row; */
  height: 80dvh;
  width: 100%;

  display: grid;

  width: 100%;
  grid-template-columns: 1.5fr 1.5fr 8.5fr;
}

.page-title {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #d9e1e8;
}

.side-panel {
  height: calc(100% - 75px);
  width: 250px;
  /* border-right: 1px solid #d9e1e8; */
}
::-webkit-scrollbar {
  width: 0.1rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #adaaaa;
}
.sub-panel {
  padding: 1rem;
  /* height: calc(100% - 75px); */
  width: 202px;
  font-family: Inter;
  border-right: 1px solid #d9e1e8;
}
.toolbar-container {
  height: 773px;
  width: 202px;
}

.template-wrapper {
  display: grid;
  grid-template-columns: max-content;
  /* height: 100%; */
  /* flex-direction: row; */
  /* height: calc(100% - 75px);
  width: calc(100% - 500px); */
  margin-top: -73px;
}

.template-toolbar {
  height: 40px;
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.logo {
  margin-left: 33px;
  margin-top: 10px;
}

.template-preview {
  overflow: scroll;
  border: 1px solid #dddddd;
}
