/* import * "../components/sidePanel/SidePanel.css"; */
@import url(./components/assets/css/SidePanel.css);
@import url(./components/template-icon/css/style.css);
@import url(./components/assets/css/PageTitle.css);
@import url(./components/chart-icon/css/style.css);
@import url(./components/assets/css/subPanel.css);

#root {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  max-width: 100%;
  max-height: 100%;
  /* text-align: center; */
}

.App {
  display: flex;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  height: 80dvh;
  width: 100%;
}

.page-title {
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #d9e1e8;
}

.side-panel {
  height: calc(100% - 75px);
  width: 250px;
  /* border-right: 1px solid #d9e1e8; */
}

.sub-panel {
  padding: 1rem;
  /* height: calc(100% - 75px); */
  height: 550px;
  width: 202px;
  font-family: Inter;
  border-right: 1px solid #d9e1e8;
}

.template-wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
  /* height: calc(100% - 75px);
  width: calc(100% - 500px); */
}

.template-toolbar {
  height: 75px;
  width: 100%;
}

body{
  min-height: 100vh;
  width: vw;
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

/* @media only screen and (max-width: 620px) {
  .main-content{

  } */

  /* .info-river-logo{
    width: 175px;
height: 80px;
gap: 0px;
border: 0px 0px 1px 0px;
opacity: 0px;
border-bottom: 1px solid #D9E1E8
  } */